# dev
export ORDERLY_KEY=Ei15c1PpgLqLrV3WzqTVvfqfrGxg7PdZo9ZDHWKMCQ92
export ORDERLY_SECRET=EdzYoSvboHHzKmVEVJsjLHiaBMMkJQspL5dK71zD3sKE

# qa
export ORDERLY_KEY=Cbg1YPJPYzHjKKL3KhtBLtjGHYn1wGBxP7xaPRuYoHHA
export ORDERLY_SECRET=7JUBqk2fkCBDAqk8ukb42pCuq26F4dEQVXc7kr6pJyPW

# staging
export ORDERLY_KEY=Ewi5Ts9J9CzdFwQNfkgMK8RAzAD7xtsZZSwt8y1KdMzT
export ORDERLY_SECRET=HLPtKnSy1Ur4W8pe5LiGbmeBPVMSFSRVVGHQs3yGQCx7
