# dev
export ORDERLY_KEY=Ei15c1PpgLqLrV3WzqTVvfqfrGxg7PdZo9ZDHWKMCQ92
export ORDERLY_SECRET=EdzYoSvboHHzKmVEVJsjLHiaBMMkJQspL5dK71zD3sKE

# qa
export ORDERLY_KEY=Cbg1YPJPYzHjKKL3KhtBLtjGHYn1wGBxP7xaPRuYoHHA
export ORDERLY_SECRET=7JUBqk2fkCBDAqk8ukb42pCuq26F4dEQVXc7kr6pJyPW

# staging
export ORDERLY_KEY=7883GEervpYgu9d7SuZK128PswspqZU6rpYhZirrCbTV
export ORDERLY_SECRET=9KoCsYwmTwCnVEsG9nhVRokzLSaPYQR5kWbxc8gZ3MgZ
