export BINANCE_API_KEY=
export BINANCE_SECRET_KEY=

# WOO TESTNET
export WOO_API_KEY=ZooFkw0izItvBnobplhqRw==
export WOO_SECRET_KEY=VOWF62QUQ7KBKPTH5CO4PU26RDMK
export WOO_APP_ID=dce5d86f-e373-42f7-8afd-f743e18617ca
