[Unit]
Description=Liquidation Searcher
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
# Disable Python's buffering of STDOUT and STDERR, so that output from the
# service shows up immediately in systemd's logs
Environment=PYTHONUNBUFFERED=1
Environment=VIRTUAL_ENV=/home/akagi201/liquidation-searcher/.venv
ExecStart=/home/akagi201/liquidation-searcher/.venv/bin/python src/liquidation_searcher/main.py -c conf/dev.yml
WorkingDirectory=/home/akagi201/liquidation-searcher
Restart=always
User=akagi201

[Install]
WantedBy=multi-user.target
